<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Project Staffing Planner - {{title}}</title>
        <script src="index.js"></script>
    </head>

    <body>
        <header class="site-header">
                <h1>Project Staffing Planner</h1>
                <h2>Jonathan Jones</h2>

                <nav class="navbar">
                        <ul class="navlist">
                            <li class="navitem navlink active"><a href="home">Home</a></li>
                            <li class="navitem navlink"><a href="add">Add</a></li>
                            <li class="navitem navlink"><a href="remove">Remove</a></li>
                            <li class="navitem navlink"><a href="update">Update</a></li>
                        </ul>
                    </nav>
        </header>

        {{{body}}}

    </body>
</html>